
@container (min-width: 800px) {
  .widget {
    font-size: 1.2rem;
  }
}
article:has(h2.special) {
  border: 2px solid purple;
}

.responsive-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

nav.main-nav {
  position: sticky;
  top: 0;
  background: #fff;
}

a:focus-visible {
  outline: 3px solid skyblue;
}
